In [1]:
import pandas as pd
import csvkit as cs
import pymongo
import json
import mysql.connector as con
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [6]:
orders_df = pd.read_excel(r'C:\Users\anile\Documents\Superstore_USA.xlsx',sheet_name='Orders')

In [7]:
orders_df

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [8]:
return_df = pd.read_excel(r'C:\Users\anile\Documents\Superstore_USA.xlsx',sheet_name='Returns')

In [9]:
return_df

      Order ID    Status
0           65  Returned
1          612  Returned
2          614  Returned
3          678  Returned
4          710  Returned
...        ...       ...
1629    182681  Returned
1630    182683  Returned
1631    182750  Returned
1632    182781  Returned
1633    182906  Returned

[1634 rows x 2 columns]

In [10]:
Users_df = pd.read_excel(r'C:\Users\anile\Documents\Superstore_USA.xlsx',sheet_name='Users')

In [11]:
Users_df

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [12]:
#Converting the data into csv file in order to load into sql workbench

In [13]:
orders_df.to_csv(r'C:\Users\anile\Returns.csv')

In [14]:
return_df.to_csv(r'C:\Users\anile\Orders.csv')

In [15]:
Users_df.to_csv(r'C:\Users\anile\Users.csv')

In [16]:
# uploading data in to sql workbench

In [17]:
!csvsql --db mysql://root:Akd!23456@localhost:3306/usanalysis --insert Orders.csv

c:\users\anile\anaconda3\lib\site-packages\win32\lib\pywintypes.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
c:\users\anile\anaconda3\lib\site-packages\agate\utils.py:285: UnnamedColumnWarning: Column 0 has no name. Using "a".
C:\Users\anile\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:145: ResourceWarning: unclosed file <_io.BufferedWriter name=4>
C:\Users\anile\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:145: ResourceWarning: unclosed file <_io.BufferedReader name=5>
C:\Users\anile\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:145: ResourceWarning: unclosed file <_io.BufferedReader name=6>

In [18]:
!csvsql --db mysql://root:Akd!23456@localhost:3306/usanalysis --insert Returns.csv

c:\users\anile\anaconda3\lib\site-packages\win32\lib\pywintypes.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
c:\users\anile\anaconda3\lib\site-packages\agate\table\from_csv.py:74: RuntimeWarning: Error sniffing CSV dialect: Could not determine delimiter
c:\users\anile\anaconda3\lib\site-packages\agate\utils.py:285: UnnamedColumnWarning: Column 0 has no name. Using "a".
C:\Users\anile\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:145: ResourceWarning: unclosed file <_io.BufferedWriter name=4>
C:\Users\anile\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:145: ResourceWarning: unclosed file <_io.BufferedReader name=5>
C:\Users\anile\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:145: ResourceWarning: unclosed file <_io.BufferedReader name=6>

In [19]:
!csvsql --db mysql://root:Akd!23456@localhost:3306/usanalysis --insert Users.csv

c:\users\anile\anaconda3\lib\site-packages\win32\lib\pywintypes.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
c:\users\anile\anaconda3\lib\site-packages\agate\utils.py:285: UnnamedColumnWarning: Column 0 has no name. Using "a".
C:\Users\anile\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:145: ResourceWarning: unclosed file <_io.BufferedWriter name=4>
C:\Users\anile\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:145: ResourceWarning: unclosed file <_io.BufferedReader name=5>
C:\Users\anile\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:145: ResourceWarning: unclosed file <_io.BufferedReader name=6>

In [20]:
# Data succesfully loaded on Sql

In [21]:
#converting data into json file to upload in mongo db

In [22]:
orders_df.to_json(r'C:\Users\anile\orders.json')

In [23]:
return_df.to_json(r'C:\Users\anile\returns.json')

In [24]:
Users_df.to_json(r'C:\Users\anile\users.json')

In [25]:
# uploading the data to mongo db

In [34]:
client = pymongo.MongoClient("mongodb+srv://anildhiman31:Akd!23456@anil.27wwn.mongodb.net/?retryWrites=true&w=majority")
db = client.test

l = ['orders.json','returns.json','users.json']

for i in range(3):
    with open(r"C:\Users\anile\\"+l[i]) as file:
        data = [(json.load(file))]

    db = client['USA_Superstore']
    collection = db[l[i]]

    collection.insert_many(data)

In [35]:
# data was successfully loaded to mongoDB

In [36]:
#3 . Find out how much return that we have received and with a product id

In [37]:
orders_df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523

In [40]:
return_df

      Order ID    Status
0           65  Returned
1          612  Returned
2          614  Returned
3          678  Returned
4          710  Returned
...        ...       ...
1629    182681  Returned
1630    182683  Returned
1631    182750  Returned
1632    182781  Returned
1633    182906  Returned

[1634 rows x 2 columns]

In [43]:
o = pd.DataFrame(orders_df[['Order ID','Product Name']])
r = pd.DataFrame(return_df['Order ID'])
pd.merge(o,r,on='Order ID')

    Order ID                                       Product Name
0       9895              Dixon My First Ticonderoga Pencil, #2
1      13959                                          Avery 493
2      13959                              EcoTones® Memo Sheets
3      36038                                          Newell 35
4      39490                  Staples SlimLine Pencil Sharpener
..       ...                                                ...
93      7107  Snap-A-Way® Black Print Carbonless Ruled Speed...
94      7107  Recycled Steel Personal File for Standard File...
95     42823                                         Xerox 1980
96     13638                                   TDK 4.7GB DVD+RW
97     47109                        SAFCO Folding Chair Trolley

[98 rows x 2 columns]

In [44]:
#4 . try  to join order and return data both in sql and pandas

In [48]:
orders_df.merge(return_df,how='left',on='Order ID')

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,NaN
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,NaN
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,NaN
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,NaN
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,NaN
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,NaN
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,NaN
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,NaN
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,NaN

In [49]:
#5 . Try to find out how many unique customer that we have

In [55]:
orders_df['Customer Name'].unique()

array(['Janice Fletcher', 'Bonnie Potter', 'Ronnie Proctor', ...,
       'Florence Gold', 'Frederick Cole', 'Tammy Buckley'], dtype=object)

In [56]:
#6 . try to find out in how many regions we are selling a product and who is a manager for a respective region

In [60]:
o = pd.DataFrame(orders_df[['Region','Product Name']])
r = pd.DataFrame(Users_df[['Region','Manager']])
pd.merge(o,r,on='Region')

       Region                                       Product Name Manager
0     Central                                           Avery 49   Chris
1     Central  Howard Miller 12-3/4 Diameter Accuwave DS ™ Wa...   Chris
2     Central                                         Newell 321   Chris
3     Central                                         Newell 351   Chris
4     Central           OIC Colored Binder Clips, Assorted Sizes   Chris
...       ...                                                ...     ...
9421    South           Staples Copy Paper (20Lb. and 84 Bright)     Sam
9422    South            O'Sullivan 3-Shelf Heavy-Duty Bookcases     Sam
9423    South                  Logitech Cordless Access Keyboard     Sam
9424    South                      Contemporary Wood/Metal Frame     Sam
9425    South  Universal Premium White Copier/Laser Paper (20...     Sam

[9426 rows x 3 columns]

In [62]:
#7 . find out how many different differnet shipement mode that we have and
#what is a percentage usablity of all the shipment mode with respect to dataset

In [64]:
orders_df['Usage_percent'] = orders_df['Order ID'] / orders_df.groupby('Ship Mode')['Order ID'].transform('sum')

In [65]:
orders_df

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Usage_percent
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,0.000153
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,0.000972
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,0.000972
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,0.000153
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,0.000972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,0.000151
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,0.000151
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,0.000827
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,0.000962
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,0.000962

In [66]:
#8 . Create a new coulmn and try to find our a diffrence between order date and shipment date

In [76]:
orders_df['Duration']= orders_df['Ship Date'] - orders_df['Order Date']

In [77]:
orders_df

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Usage_percent,Duration
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,0.000153,2 days
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,0.000972,1 days
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,0.000972,1 days
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,0.000153,1 days
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,0.000972,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,0.000151,1 days
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,0.000151,0 days
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,0.000827,2 days
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,0.000962,3 days
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,0.000962,2 days

In [78]:
#9 . base on question number 8 find out for which order id we have shipment duration more than 10 days

In [82]:
orders_df[orders_df['Duration']> '10days'][['Order ID','Duration']].sort_values(by='Duration', ascending= True)

      Order ID Duration
1548     86318  11 days
1679     87957  11 days
1698     19556  11 days
5548     88223  14 days
1549     86318  15 days
5673     88352  17 days
1678     87957  17 days
1697     19556  17 days
8609     86436  17 days
8607     86434  18 days
8610     86436  19 days
8993     19841  19 days
8973     87300  19 days
5859     87572  22 days
5881     91294  24 days
8996     87300  27 days
8982     19841  27 days
1699     19556  28 days
1680     87957  28 days
8997     87300  31 days
8983     19841  31 days
643      87215  84 days
2515     86177  92 days

In [83]:
#10.Try to find out a list of a returned order which shipment duration was more then 15 days and find out 
#that region manager as well

In [97]:
returned_order_df = orders_df[['Order ID','Duration']]
merged_returned_df = pd.merge(returned_order_df,return_df, how='right', on='Order ID')
#merged_returned_df
merged_returned_df[merged_returned_df['Duration']> '15 days']['Order ID']

Series([], Name: Order ID, dtype: int64)

In [98]:
# could not find any orders with duration more than 15 days

In [99]:
#11. Gorup by region and find out which region is more profitable

In [104]:
orders_df.groupby('Region')['Profit'].sum().reset_index(name= 'Profit')

    Region         Profit
0  Central  519825.567067
1     East  377566.186045
2    South  104201.192420
3     West  310849.453897

In [105]:
#12 . Try to find out overalll in which country we are giving more discount

In [108]:
orders_df.groupby('State or Province')['Discount'].sum().sort_values(ascending = False).reset_index(name= 'Discount').head(1)

  State or Province  Discount
0        California     52.28

In [109]:
#13 . Give me a list of unique postal code

In [111]:
orders_df['Postal Code'].unique()

array([60101, 98221, 91776, ..., 61832, 62521, 26554], dtype=int64)

In [112]:
#14 . which customer segement is more profitalble find it out .

In [114]:
orders_df.groupby('Customer Segment')['Profit'].sum().sort_values(ascending= False)

Customer Segment
Corporate         505538.627783
Small Business    316474.592482
Home Office       283869.553814
Consumer          206559.625348
Name: Profit, dtype: float64

In [116]:
#Coporate Segment is more profitable

In [ ]:
#15 . try to find out the 10th most loss making product catagory .

In [125]:
loss_df = orders_df.groupby('Product Sub-Category')['Profit'].sum().sort_values(ascending = True).reset_index(name= 'Profit')
loss_df.loc[8]

Product Sub-Category      Envelopes
Profit                  46133.22384
Name: 8, dtype: object

In [126]:
#16 . Try to find out 10 top  product with highest margin

In [132]:
orders_df.groupby('Product Name')['Product Base Margin'].max().sort_values(ascending=False).reset_index(name='base margin').head(10)

                                        Product Name  base margin
0  Office Impressions Heavy Duty Welded Shelving ...         0.85
1                                         Accessory4         0.85
2                  Sterling Rubber Bands by Alliance         0.85
3                   Belkin OmniView SE Rackmount Kit         0.85
4                                        Accessory27         0.85
5  Serrated Blade or Curved Handle Hand Letter Op...         0.84
6  Tennsco Stur-D-Stor Boltless Shelving, 5 Shelv...         0.84
7                        Tennsco Commercial Shelving         0.84
8            Carina 42"Hx23 3/4"W Media Storage Unit         0.83
9                                        Accessory29         0.83